[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "serocalculator"]
	path = serocalculator
	url = https://github.com/ucd-serg/serocalculator
[submodule "snapr"]
	path = snapr
	url = https://github.com/d-morrison/snapr
	registered = false
